<h1>Form Experiments</h1>
<form action="/goodbye">
<label for="turt">first:</label>
  <input id="turt" type="text" name="turtle">
<label for="dragon turt">second:</label>
  <input id="dragon turt" type="text" name="giraffe">
  <button>Go to /goodbye</button>
</form>
