<form action="/payment/results">
  <div>
    <label for="apr">APR</label>
    <input id="apr" type="text" name="apr_number" placeholder="E.g. 5.42">
  </div>
  <div>
    <label for="year">Number of years</label>
    <input id="year" type="text" name="year_number" placeholder="How many years to repay?">
  </div>
  <div>
    <label for="principal">Principal</label>
    <input id="principal" type="text" name="principal_number" placeholder="How much principal?">
  </div>
  <button>Calculate monthly payment</button>
</form>
