<form action="/square_root/results">
  <label for="turtle">Enter a number</label>
  <input id="turtle" type="text" name="users_number" placeholder="What number do you want to take the sqaure root of?>
  <button>Calculate square root</button>
</form>
